<div class="shop py-5 px-4">
    <div class="shop-item-list">
    {{#each products}}

    <div class="shop-item-list-item">
        <div class="shop-item-list-item-content p-4">
            <div class="flex w-100 justify-content-center align-items-center shop-item-list-item-content-image">
                <img src="{{image}}" class="img-fluid" style="height: 200px;" alt="">
            </div>
            <p class="shop-item-list-item-content-name text-center mt-3">{{name}}</p>
            <p class="shop-item-list-item-content-description">{{description}}</p>
            <p>${{price}}</p>
            <div class="d-flex align-items-center" style="max-width: 300px;">
            {{#if ../user.id}}
                {{#if quantity}}
                    <form class="mb-0" method="POST" action="/add-cart?quantity={{add quantity -1}}&user={{../user.id}}&product={{id}}">
                        <button type="submit" class="btn btn-danger">-</button>
                    </form>
                    <p class="px-4 m-0" style="font-size: 1.2em;">{{quantity}}</p>
                {{/if}}
                <form class="mb-0" method="POST" action="/add-cart?quantity={{add quantity 1}}&user={{../user.id}}&product={{id}}">
                    <button type="submit" class="btn btn-primary">
                        {{#if quantity}}
                        +
                        {{else}}
                                Add to Cart
                        {{/if}}
                    </button>
                </form>
            {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
    </div>
</div>